.container{
    padding-top: 10vh;
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    text-align: center;
}

.table {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    padding: 20px;
    background: #3F0713;
    color: white;



    &__row-left {
        background: #1E5128;
        padding: 10px;
        display: flex;
        align-items: center;
        
    }

    &__row-right {
        background: #DDBEBE;
        color: black;
        padding: 10px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 460px){
    .table{
        display: grid;
        grid-template-columns: 1fr;
    }
}
